@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
    margin-block: 20px;
}

a {
    text-decoration: none;
}

p {
    margin-block: 20px;
}

body {
    background: #00111c;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.heroContainer {
    height: calc(100vh - 20vh);
    padding: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstContainerColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyrightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.copyrightText {
    background: #444492;
    width: 250px;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.copyrightText:hover {
    background: #121420;
}

.couleurI {
    color: red;
}

.secondColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    border-radius: 5px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 500px;
    gap: 25px;
    border: none;
}

input[type="text"] {
    width: 100%;
    height: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    outline: none;
    border: 1px px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.boutonGeneral {
    width: 100%;
    height: 3rem;
    border: 0;
    background: #444492;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    font-weight: normal;
}

.boutonGeneral:hover {
    background: #121420;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

hr {
    border: 0.5px solid rgba(211, 211, 211, 0.25);
    width: 50%;
}

@media screen and (max-width: 768px) {

    body {
        padding: 20px;
    }

    header {
        align-items: flex-start;
        text-align: left;
    }

    .heroContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .secondColumn {
        align-items: flex-start;
    }

    .copyrightText {
        display: none;
    }

    form,
    fieldset {
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
        margin-block-end: 20px;
    }

    hr {
        width: 100%;
    }
}